<!DOCTYPE html>
<html lang="en">
<head id="header" title="User: <%- values.username %>">
<%- values.header %>
<meta charset="UTF-8">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/tools.css" rel="stylesheet" >
<script src="/tools.js"></script>
<link rel="stylesheet" href="/simple.css">
<link rel="stylesheet" href="/css/meown.css">
<link rel="stylesheet" href="/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background" >
<!-- Navbar -->
  
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   
  <a href="/" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round"><i class="fa fa-home simple-margin-right"></i>Meown</a>
  <a class="simple-hide-small">
<form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-border simple-padding" placeholder="Find User" style="width:20vw;"></input></form>
<form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-border simple-padding" placeholder="Find Community" style="width:20vw;"></input></form>
<%- values.nav %></a>
  <div onclick="location.replace('/u')" class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div class="simple-round-large simple-theme-d2 simple-dropdown-content simple-bar-block" style="width:300px;right:0;top:78px;">
    <%- values.profile_menu %>
    </div>
    <img src="<%- values.self_avatar %>" class="simple-circle" style="height:23px;width:23px" alt="Avatar">
   </div>
   
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <a>
  <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find User" style="width:100vw;"></input></form>
  <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find Community" style="width:100vw;"></input></form>
  <%- values.nav_mobile %></a>
  
  <a href="/u" class="simple-bar-item simple-button simple-padding-large"><%- values.status %></a>
  <a href="/logout" class="simple-bar-item simple-button simple-padding-large">Log Out</a>
  </div>
   
 </div>
</div>


<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <!-- Profile -->
      <!--<div class="simple-card simple-round simple-white">-->
      <div class="simple-theme-l5 simple-card simple-round" style="background-size: 100% 100%;background-image:url('<%- database[values.category][values.id].background %>');">
      <div class="simple-container"><br> 
      <div class="simple-card simple-round" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) )">
        <div class="simple-container">
         <%- values.details %>
        </div>
      </div>
      </div>
      <br>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="simple-card simple-round">
        <div class="simple-white">
          <%- values.buttons %>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="simple-theme-l5 simple-card simple-round simple-hide-small">
        <div class="simple-container">
          <p>Interests</p>
          <p></p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-border simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      <div class="simple-theme-l5 simple-container simple-card simple-round simple-margin" style="background-size: 100% 100%;background-image: url('<%- database[values.category][values.username].banner%>');">
<div class="simple-container simple-card simple-round simple-margin" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) );">
        <h4>[About me]</h4><br>
        <p><%- database[values.category][values.id].description %></p>
        </div>
      </div>
      
    <form method="post" action="/edit" class="<%- values.visible.postBar %>" style="display:inline-block;width:100%">
<div class="simple-row-padding"><div class="simple-col m12"><div class="simple-theme-l5 simple-card simple-round"><div class="simple-container simple-padding">
  <h6 class="simple-opacity">New Post</h6>
  <input type="hidden" name="method" value="new-post">
  <input type="hidden" name="id" value="<%- values.id %>">
  <input type="hidden" name="sentpostcategory" value="<%- values.category %>">
  <input type="text" name="sentposttitle" class="simple-border simple-padding" placeholder="Post Title" required></input>
  <input type="text" name="sentpostbody" class="simple-border simple-padding" placeholder="Post Body" required></input><br>
  <button type="submit" class="simple-button simple-theme"><i class="fa fa-pencil"></i> Send</button>
</div></div></div></div>
</form>
  
    <%- values.post_list %>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
<%- values.side_bar %>
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center" id="speec">
      <p><span type="button" id="microphone" onclick="runSpeechRecognition()"><i class="fa fa-microphone fa-fw simple-margin-right"></i></span><span id="action"></span></p>
        <div id="output" class="hide"></div>
      </div><br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center">
      <p id="time" >Open Time<br>(May cause lag)</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center">
      <p>ADS</p></div>
      
      <br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-32 simple-center">
        <p><i class="fa fa-bug simple-xxlarge"></i><br>Report bugs</p>
      </div>
      
      <br>
      
      <!--<div class="simple-card simple-round simple-white simple-padding-16 simple-center">
      <p>Themes</p>
      <button onclick="change_theme('simple-theme-orange-red.css')">Orange Theme</button>
      <br><br>
      <button onclick="change_theme('simple-theme-blue-grey.css')">Blue Theme</button>
      </div>-->
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<input id="cb" type="text" hidden>
<script>
// Accordion
function menu(values){
  var popup = {
    main:document.getElementById('popup'),
    title:document.getElementById('popupTitle'),
    body:document.getElementById('popupBody')
  }
  if (values && values.type === "post"){
  popup.main.style.display='block';
  popup.title.innerText=`@${values.id}, Post #${values.number}`;
  popup.body.innerHTML=`<form method="post" action="/edit" style="display:inline-block;">
<input type="hidden" name="method" value="delete-post">
<input type="hidden" name="id" value="${values.id}">
<input type="hidden" name="sentnum" value="${values.number}">
<input type="hidden" name="category" value="${values.category}">
<button type="submit">
Delete Post
</button>
</form>
<button onclick="
copy('https://${location.hostname}/u/${values.id}#post-${values.number};');
notification('Link Copied!');">
Copy URL <i class="fa fa-link"></i>
&nbsp;</button>`;
  if (values.likes){
  popup.body.innerHTML+=`
  <form method="post" action="/edit" style="display:inline-block;">
  <input type="hidden" name="method" value="like">
  <input type="hidden" name="type" value="posts">
  <input type="hidden" name="sentname" value="${values.id}">
  <input type="hidden" name="sentid" value="${values.number}">
  <button type="submit" onclick="notification('<3!')">
  Likes: <i class="fa fa-heart" ></i>${values.likes}
  </button>
  </form>
  `
  }
  }
}
  function toggleClass(element,className) {
  var temp = element;
  temp.className.indexOf(className) == -1?
  temp.className += ` ${className}`:
  temp.className = temp.className.replace(` ${className}`, "");
}
  
function accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
</script>
<div id="assets"></div><!--Loads the extra files that aren't written in the document.-->
<script>
  window.onload = new_date();
<%- values.scripts %>
function new_date(){
var time = new Date().toString()
time=time.split(" ")
  time = `${time[0]} ${time[1]} ${time[2]} ${time[3]}<br>${time[4]}`
document.getElementById("time").innerHTML = `<p>Time:</p>${time}`;
setTimeout(function(){ new_date() }, 1300);
}
</script>
<!--<script onload = "check_https()">
  function check_https(){
  if (location.protocol.toString() === "http:"){
    location.replace(`https://${location.hostname}${location.pathname}`);
  }
}
</script>-->
  <div id="chat_all">
<script src="/socket.io/socket.io.js"></script>
<script src="/js/main.js" defer></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="https://apis.google.com/js/platform.js" async defer></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js" integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
  <link href="/css/simple-extra.css" rel="stylesheet" >
<button class="simple-open-button" onclick="openForm()">Chat</button>

<div class="simple-chat" id="chat">
  <div class="simple-form-container">
    <h1>Chat</h1>
	<ul id="messages" style="overflow:auto;height:150px;"></ul>
    <label for="msg"><b>Message</b></label>
    <ul class="room-list"></ul>
    <input id="input" placeholder="Say something...">
    <button onclick="sendMessage();" class="simple-btn">Send</button>
    <button type="button" class="simple-btn simple-cancel" onclick="closeForm()">Close</button>
  </div>
</div>
<script>
var values = {}
var chat = document.getElementById("chat");
function openForm() {chat.style.display = "block";chat.setAttribute("opened", true); }
function closeForm() {chat.style.display = "none";chat.setAttribute("opened", false);}
</script>
</div>
<div id="popup" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content" style="padding:32px">
    <div class="simple-container simple-white">
      <i onclick="document.getElementById('popup').style.display='none'" class="fa fa-remove simple-xlarge simple-button simple-transparent simple-right simple-xlarge"></i>
      <h2 class="simple-wide" id="popupTitle">Null Title</h2>
      <p id="popupBody">Null Body</p>
  <div class="simple-section simple-xlarge" id="popupIcons">
    <!--<i class="fa fa-facebook-official simple-hover-opacity"></i>
    <i class="fa fa-snapchat simple-hover-opacity"></i>
    <i class="fa fa-pinterest-p simple-hover-opacity"></i>
    <i class="fa fa-twitter simple-hover-opacity"></i>
    <i class="fa fa-linkedin simple-hover-opacity"></i>-->
  </div>
    </div>
  </div>
</div>