<!DOCTYPE html>
<html lang="en">
<head id="header" title="Social Page">
<%- values.header %>
<meta charset="UTF-8">
<meta name="keywords" content="Social media, meown, meown.ml, meown.tk" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans">
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fork-awesome@1.1.7/css/fork-awesome.min.css">
<link href="/assets/css/tools.css" rel="stylesheet" >
<script src="/assets/js/tools.js"></script>
<link rel="stylesheet" href="/assets/css/simple.css">
<link rel="stylesheet" href="/assets/css/meown.css">
<link rel="stylesheet" href="/assets/css/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background" >
<!-- Navbar -->
  
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   
  <a href="/" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round"><i class="fa fa-home simple-margin-right"></i>Meown</a>
  <a class="simple-hide-small">

<%- values.nav %></a>
  <div onclick="location.replace('/u')" class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div class="simple-round-large simple-theme-d2 simple-dropdown-content simple-bar-block" style="width:300px;right:0;top:78px;">
    <%- values.profile_menu %>
    </div>
    <img src="<%- database[values.category][values.me].avatar %>" class="simple-circle" style="height:23px;width:23px" alt="Avatar">
   </div>
   
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <a>
  <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find User" style="width:100vw;"></form>
  <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find Community" style="width:100vw;"></form>
  <%- values.nav_mobile %></a>
  
  <a href="/u" class="simple-bar-item simple-button simple-padding-large"><%- values.status %></a>
  <a href="/logout" class="simple-bar-item simple-button simple-padding-large">Log Out</a>
  </div>
   
 </div>
</div>


<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <!-- Profile -->
      <!--<div class="simple-card simple-round simple-white">-->
      <div class="simple-theme-l5 simple-card simple-round" style="background-size: 100% 100%;background-image:url('https://cdn.glitch.com/0322d62f-81b5-4f06-9b33-557687636cec%2Fsmokehousechillin.gif');">
        <div class="simple-container"><br> 
          <div class="simple-card simple-round" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) )">
            <div class="simple-container">
              <h4 class="simple-center">Meown Social</h4>
              <p class="simple-center">
              <img src="<%- database[values.category][values.id].avatar %>" class="simple-circle" style="height:106px;width:106px;border: 2px solid black;"alt="User Avatar">
              </p>
              <hr>
              <p>
                <i class="simple-theme-text-2 fa fa-youtube-play fa-fw simple-margin-right" style="transform: scale(2, 2);color:red;"></i>
                <a href="https://www.youtube.com/channel/UCbVQOO0xb57ja74eLJQJ3Kg" class="simple-theme-text-1">Youtube</a>
              </p>
              <p>
                <i class="simple-theme-text-2 fa fa-discord-alt fa-fw simple-margin-right" style="transform: scale(2, 2);color:#7289da;"></i>
                <a href="https://discord.gg/zzthRpu" class="simple-theme-text-1">Discord</a>
              </p>
              <p>
                <i class="simple-theme-text-2 fa fa-shield fa-fw simple-margin-right" style="transform: scale(2, 2);color:#F5C400;"></i>
                <a href="https://guilded.gg/meown" class="simple-theme-text-1">Guilded</a>
              </p>
              <p>
                <i class="simple-theme-text-2 fa fa-reddit fa-fw simple-margin-right" style="transform: scale(2, 2);color:#FF5700;"></i>
                <a href="https://reddit.com/r/meown" class="simple-theme-text-1">Reddit</a>
              </p>
              
            </div>
          </div>
        </div>
      <br>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="simple-card simple-round">
        <div class="simple-white">
          <%- values.buttons %>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="simple-theme-l5 simple-card simple-round simple-hide-small">
        <div class="simple-container">
          <p>Interests</p>
          <p></p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-border simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      <div class="simple-theme-l5 simple-container simple-card simple-round simple-margin" style="background-size: 100% 100%;background-image: url('<%- database[values.category][values.id].banner%>');">
<div class="simple-container simple-card simple-round simple-margin" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) );">
        <h4>[Feel Free to join or follow the developer on these social media's.]</h4><br>
        <p>Finally someone is using this website.</p>
        </div>
      </div>

  
    <div class="simple-theme-l5 simple-theme-border simple-theme-text-1 simple-container simple-card simple-round simple-margin" id="post-1"><br>
        <button class="simple-right simple-opacity" onclick="menu({type:'post',id:'Meown',number:'1'});"><i class="fa fa-bars"></i></button>
        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;Meown: </b>
        <a style="font-size: 1.5em;">Discord Invite</a><br>
        <hr class="simple-clear">
        <p>
        <iframe src="https://discord.com/widget?id=396838715894530068&theme=dark" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
        </p>
        </div>
      
      
      
      
        <div class="simple-theme-l5 simple-theme-border simple-theme-text-1 simple-container simple-card simple-round simple-margin" id="post-2"><br>
        <button class="simple-right simple-opacity" onclick="menu({type:'post',id:'Meown',number:'2'});"><i class="fa fa-bars"></i></button>
        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;Meown: </b>
        <a style="font-size: 1.5em;">Guilded Invite</a><br>
        <hr class="simple-clear">
        <p>
        <iframe src="https://www.guilded.gg/canvas_index.html?route=%2Fcanvas%2Fembed%2Fteamcard%2FgRG0m4Wl" width="268" height="380" frameborder="0" scrolling="no"></iframe>
        </p>
        </div>
      
        <div class="simple-theme-l5 simple-theme-border simple-theme-text-1 simple-container simple-card simple-round simple-margin" id="post-3"><br>
        <button class="simple-right simple-opacity" onclick="menu({type:'post',id:'Meown',number:'3'});"><i class="fa fa-bars"></i></button>
        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;Meown: </b>
        <a style="font-size: 1.5em;">Reddit Invite</a><br>
        <hr class="simple-clear">
        <p>
          <blockquote class="reddit-card"><a href="https://www.reddit.com/r/meown/comments/lvu0yg/welcome_to_meown/">Welcome to Meown!</a> from <a href="http://www.reddit.com/r/meown">r/meown</a></blockquote><script async src="//embed.redditmedia.com/widgets/platform.js" charset="UTF-8"></script>
        </p>
        </div>
    
        <div class="simple-theme-l5 simple-theme-border simple-theme-text-1 simple-container simple-card simple-round simple-margin" id="post-3"><br>
        <button class="simple-right simple-opacity" onclick="menu({type:'post',id:'Meown',number:'3'});"><i class="fa fa-bars"></i></button>
        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;Meown: </b>
        <a style="font-size: 1.5em;">Trello</a><br>
        <hr class="simple-clear">
        <p>
        <blockquote class="trello-card"><a href="https://trello.com/c/jVfXvv3U/33-meown-social-media">Meown Social media</a></blockquote><script src="https://p.trellocdn.com/embed.min.js"></script>
        </p>
        </div>
      
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
<%- values.side_bar %>
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center" id="speec">
      <p><span type="button" id="microphone" onclick="runSpeechRecognition()"><i class="fa fa-microphone fa-fw simple-margin-right"></i></span><span id="action"></span></p>
        <div id="output" class="hide"></div>
      </div><br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center">
      <p id="time" >Open Time<br>(May cause lag)</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-16 simple-center">
      <p>ADS</p></div>
      
      <br>
      
      <div class="simple-theme-l5 simple-card simple-round simple-padding-32 simple-center">
        <p><i class="fa fa-bug simple-xxlarge"></i><br>Report bugs</p>
      </div>
      
      <br>
      
      <!--<div class="simple-card simple-round simple-white simple-padding-16 simple-center">
      <p>Themes</p>
      <button onclick="change_theme('simple-theme-orange-red.css')">Orange Theme</button>
      <br><br>
      <button onclick="change_theme('simple-theme-blue-grey.css')">Blue Theme</button>
      </div>-->
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<input id="cb" type="text" hidden>
<script>
// Accordion
function menu(values){
  var popup = {
    main:document.getElementById('popup'),
    title:document.getElementById('popupTitle'),
    body:document.getElementById('popupBody')
  }
  if (values && values.type === "post"){
  popup.main.style.display='block';
  popup.title.innerText=`@${values.id}, Post #${values.number}`;
  popup.body.innerHTML=`
<button onclick="
copy('https://${location.hostname}/u/${values.id}#post-${values.number};');
notification('Link Copied!');">
Copy URL <i class="fa fa-link"></i>
&nbsp;</button>`;
  if (values.likes){
  popup.body.innerHTML+=`
  <form method="post" action="/edit" style="display:inline-block;">
  <input type="hidden" name="method" value="like">
  <input type="hidden" name="type" value="posts">
  <input type="hidden" name="sentname" value="${values.id}">
  <input type="hidden" name="sentid" value="${values.number}">
  <button type="submit" onclick="notification('<3!')">
  Likes: <i class="fa fa-heart" ></i>${values.likes}
  </button>
  </form>
  `
  }
  }
}
function accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
</script>
<div id="assets"></div><!--Loads the extra files that aren't written in the document.-->
<script>
  window.onload = new_date();
<%- values.scripts %>
function new_date(){
var time = new Date().toString()
time=time.split(" ")
  time = `${time[0]} ${time[1]} ${time[2]} ${time[3]}<br>${time[4]}`
document.getElementById("time").innerHTML = `<p>Time:</p>${time}`;
setTimeout(function(){ new_date() }, 1300);
}
</script>

<div id="popup" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('popup').style.display='none'" class="fa fa-remove simple-xlarge simple-button simple-transparent simple-right simple-xlarge"></i>
      <h2 class="simple-wide" id="popupTitle">Null Title</h2>
      <p id="popupBody">Null Body</p>
    </div>
  </div>
</div>