<!DOCTYPE html>
<html lang="en">
<head id="header" title="You Shouldn't be here <%- values.username %>">
<%- values.header %>
<meta charset="UTF-8">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="/assets/css/tools.css" rel="stylesheet" >
<script src="/assets/js/tools.js"></script>
<link rel="stylesheet" href="/assets/css/simple.css">
<link rel="stylesheet" href="/assets/css/meown.css">
<link rel="stylesheet" href="/assets/css/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background" >
<!-- Navbar -->
  
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-theme-border simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   <a href="#" class="simple-bar-item simple-button simple-padding-16 simple-theme-logo simple-round">
    <i class="fa fa-home simple-margin-right"></i>
    Meown
   </a>
   <div class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div id="Status" class="simple-round simple-theme-d2 simple-dropdown-content simple-bar-block simple-theme-border simple-round" style="width:300px;right:0;top:78px;">
       <script>
    window.addEventListener("load", function () {
    var mobileStatus = document.getElementById("mobileStatus"),
        status = document.getElementById("Status"),
        me = getCookie("saved-username")||false;
      
    if (me){
      status.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button">Dashboard</a>
      <form method="get" action="/logout"><button type="submit" class="simple-bar-item simple-button">Logout</button></form>`;
      mobileStatus.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button simple-padding-large">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button simple-padding-large">Dashboard</a>`;
    }
    else{
      status.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button">Login</a>
      <a href="/register" class="simple-bar-item simple-button">Register</a>`;
      mobileStatus.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button simple-padding-large">Login</a>
      <a href="/register" class="simple-bar-item simple-button simple-padding-large">Register</a>`;
    }
      
    status.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:20vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:20vw;"></form>
    <a onclick="window.opener=null;window.open('','_self');window.close();window.history.go(-1);" class="simple-bar-item simple-button">Close</a>`
    mobileStatus.innerHTML+=`
    <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find User" style="width:80vw;"></form>
    <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-theme-l5 simple-theme-border simple-padding" placeholder="Find Community" style="width:80vw;"></form>
    <a onclick="window.close();" class="simple-bar-item simple-button simple-padding-large">Close</a>`;
});
  </script>
    </div>
    <img onclick="location.replace('/u')" class="simple-circle simple-theme-border " style="height:30px;width:30px" alt="Avatar" id="myAvatar">
     <script>
       window.addEventListener("load", async function () {
         document.getElementById("myAvatar").setAttribute("src", await MeownApi(`user/${getCookie("saved-username")||"guest"}`).then((res)=>{
           return res.avatar;
         })||"");
      });
     </script>
   </div>
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <span id="mobileStatus"></span>
  </div>
   
 </div>
</div>


<!-- Page Container -->
<div class="simple-container simple-content" style="max-width:1400px;margin-top:80px">    
  <!-- The Grid -->
  <div class="simple-row">
    <!-- Left Column -->
    <div class="simple-col m3 simple-theme-text-1">
      <!-- Profile -->
      <!--<div class="simple-card simple-round simple-white">-->
      <div class="simple-card simple-round" style="background-image:url('<%- database[values.category][values.id].background %>');background-size: 100% 100%;">
      <div class="simple-container"><br> 
      <div class="simple-card simple-round" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) )">
        <div class="simple-container">
           <h4 class="simple-center" ><%- values.id %></h4>
          
  <div class="simple-meown-profile-container">
    <img id="searchAvatar" class="simple-circle simple-meown-profile-avatar" alt="Avatar">
    <div id="uploadAvatar" class="simple-circle simple-meown-profile-avatar-overlay">Change avatar</div>
          <script>
       window.addEventListener("load", async function () {
         document.getElementById("searchAvatar").setAttribute("src", await MeownApi(`user/${id||"guest"}`).then((res)=>{
           return res.avatar;
         })||"");
         if (id===me){
          mouseOver({
          "object":document.getElementById("uploadAvatar"),
          "true":`document.getElementById("uploadAvatar").style.opacity = 1;`,
          "false":`document.getElementById("uploadAvatar").style.opacity = 0;`
          });
          document.getElementById("uploadAvatar").setAttribute("onclick",`
          (function() {var u = prompt('Change avatar url? (Click cancel to not change the url)');if (!u)return;post('/edit', {method: 'details',sentnewavatar:u}).then((e)=>{location.reload();});})()
          `);
         };
      });
     </script>
  </div>

  <hr>
        </div>
      </div>
      </div>
      <br>
      </div>
      <br>
      
      <!-- Accordion -->
      <div class="simple-card simple-round">
        <div class="simple-white">
          <%- values.buttons %>
        </div>      
      </div>
      <br>
      
      <!-- Interests --> 
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-hide-small">
        <div class="simple-container">
          <p>Interests</p>
          <p></p>
        </div>
      </div>
      <br>
      
      <!-- Alert Box -->
      <div class="simple-theme-l4 simple-container simple-display-container simple-round simple-theme-border simple-margin-bottom simple-hide-small">
        <span onclick="this.parentElement.style.display='none'" class="simple-button simple-display-topright simple-round" style="filter: brightness(90%);">
          <i class="fa fa-remove"></i>
        </span>
        <p><strong>Hello!</strong></p>
        <p>This is a notification box which currently has no use :p</p>
      </div>
    
    <!-- End Left Column -->
    </div>
    
    <!-- Middle Column -->
    <div class="simple-col m7 simple-theme-text-1">
      <div class="simple-container simple-card simple-round simple-margin" style="background: url('<%- database[values.category][values.username].banner%>');background-size: 100% 100%;">
<div class="simple-container simple-card simple-round simple-margin" style="background-image: linear-gradient(45deg, rgba(255,255,255,0.3), rgba(255,255,255,0.3) );">
        <h4>[About me]</h4><br>
        <p><%- database[values.category][values.id].description %></p>
        </div>
      </div>
<div id="sendPost" style="display:inline-block;width:100%">
  <div class="simple-row-padding"><div class="simple-col "><div class="simple-theme-l5 simple-card simple-round simple-container simple-padding">
  <h6 class="simple-opacity">New Post</h6>
  <input type="text" name="sentposttitle" id="postTitle" class="simple-theme-border simple-theme-l5 simple-padding" placeholder="Post Title" required>
  <input type="text" name="sentpostbody" id="postBody" class="simple-theme-border simple-theme-l5 simple-padding" placeholder="Post Body" required><br>
  <script>
    function sendPost(){
      var details = {
        method: 'new-post',
        id:id,
        sentpostcategory:category,
        sentposttitle:document.getElementById("postTitle").value,
        sentpostbody:document.getElementById("postBody").value
      }
      post('/edit', details).then((e)=>{location.reload();})
    }
  </script>
  <button class="simple-button simple-theme" onclick="sendPost()"><i class="fa fa-pencil"></i> Send</button>
    </div></div></div></div>
  
    <div id="postList">
      
    </div>
    <!-- End Middle Column -->
    </div>
    
    <!-- Right Column -->
    <div class="simple-col m2 simple-theme-text-1">
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center" id="speec">
      <p><span type="button" id="microphone" onclick="runSpeechRecognition()"><i class="fa fa-microphone fa-fw simple-margin-right"></i></span><span id="action"></span></p>
        <div id="output" class="hide"></div>
      </div><br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
      <p id="time" >Open Time<br>(May cause lag)</p>
      </div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-16 simple-center">
      <p onclick="menu({title:'do you really want ads?'})">ADS</p></div>
      
      <br>
      
      <div class="simple-theme-l5 simple-theme-border simple-card simple-round simple-padding-32 simple-center">
        <p><i class="fa fa-bug simple-xxlarge" onclick="menu({title:'Reporting Bugs has not been added yet',body:'Sorry about that :p'})"></i><br>Report bugs</p>
      </div>
      
      <br>
    <!-- End Right Column -->
    </div>
  <!-- End Grid -->
  </div>
<!-- End Page Container -->
</div>
<br>
<input id="cb" type="text" hidden>
<script>
  var me = getCookie("saved-username")||"guest";
  var id = "<%- values.id %>";
  var category = "user"
  
  function max(input,max,result){if (!max)max = 10;result = max;if (input < max)result = input;return result;}
  
  async function MeownApi(input){
  var o=o||"";
  var r = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return r;
  }
  
MeownApi(`${category}/${id}?includeposts=true`).then(async data => {
      var postList = document.getElementById("postList"),
          sendPost = document.getElementById("sendPost"),
          posts = data.posts||[],
          postsLength = data.posts.length-1||0;
  
      if (sendPost&&id===me){sendPost.className = sendPost.className.replace("simple-hide", "");}
  
    while (postsLength > posts.length-max(posts.length+1,5)) {
      await addPost(data.posts[postsLength],[postsLength]);
      postsLength--;
    }
});

    async function addPost(values,index){
      values = values || {}
      values.index=index;
      values.category == category;
      values.id=id;
      var postTemplate = `
      <div class="simple-theme-l5 simple-theme-border simple-theme-text-1 simple-container simple-card simple-round simple-margin" id="post-3"><br>
        <img src="${await MeownApi(`/user/${id}/?includeposts=true`).then(function(response){return response.avatar})}" alt="User_Avatar" class="simple-circle" style="width:90px;height:90px"> 
        <button class="simple-right simple-opacity" onclick="postMenu(${JSON.stringify(values).replace(/\"/g,"\'")})"><i class="fa fa-bars"></i></button>
        <span class="simple-right simple-opacity">
        #${index} 
        <i class="fa fa-heart"></i>:${values?.likes?.length?values.likes:0||0}</span>&nbsp;

        <br><b style="font-size: 2em;color:#e3c522;">&nbsp;${id||"unknown"}: </b>
        <a style="font-size: 1.5em;">${values.title}</a><br>
        <hr class="simple-clear">
        <p>${values.body}</p>
      </div>
      `
      postList.innerHTML+=postTemplate;
    }
// Accordion
function postMenu(values){
  console.log(values)
  menu({'title':`@${values.id}, Post #${values.index}`,'body':`
  <form method="post" action="/edit" style="display:inline-block;">
  <input type="hidden" name="method" value="delete-post"> 
  <input type="hidden" name="id" value="${values.id}"> 
  <input type="hidden" name="sentnum" value="${values.index}"> 
  <input type="hidden" name="category" value="${category||"user"}">
  <button type="submit">Delete Post</button>
  </form>
  <button onclick="copy("https://${location.hostname}/u/${values.id||"unknown"}#post-${values.index};");notification("Link Copied!");">Copy URL <i class="fa fa-link">
  </i>&nbsp;
  </button>
  ${values.likes?`<form method="post" action="/edit" style="display:inline-block;"> <input type="hidden" name="method" value="like"> <input type="hidden" name="type" value="posts"> <input type="hidden" name="sentname" value="${values.id}"> <input type="hidden" name="sentid" value="${values.number}"><button type="submit" onclick="notification("<3!")">Likes: <i class="fa fa-heart" ></i>${values?.likes?.length?values.likes:0||0}</button></form>`:""}`});
} 
  
function menu(values){
  values = values || {};
  
  var popup = {
    main:document.getElementById('popup'),
    title:document.getElementById('popupTitle'),
    body:document.getElementById('popupBody')
  }
  popup.main.style.display='block';
  popup.title.innerHTML=values.title||"";
  popup.body.innerHTML=values.body||"";
}
function accordion(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
</script>
<div id="assets"></div><!--Loads the extra files that aren't written in the document.-->
<script>
  window.onload = new_date();
<%- values.scripts %>
function new_date(){
var time = new Date().toString()
time=time.split(" ")
  time = `${time[0]} ${time[1]} ${time[2]} ${time[3]}<br>${time[4]}`
document.getElementById("time").innerHTML = `<p>Time:</p>${time}`;
setTimeout(function(){ new_date() }, 1300);
}
</script>
<div id="popup" class="simple-modal simple-animate-opacity">
  <div class="simple-modal-content simple-round simple-card simple-theme-l5 simple-theme-border simple-theme-text-1" style="padding:32px">
    <div class="simple-container">
      <i onclick="document.getElementById('popup').style.display='none'" class="fa fa-remove simple-xlarge simple-button simple-transparent simple-right simple-xlarge"></i>
      <h2 class="simple-wide" id="popupTitle">Null Title</h2>
      <p id="popupBody">Null Body</p>
    </div>
  </div>
</div>