<!DOCTYPE html>
<html lang="en">
<head id="header">
<%- values.info_data(`Homepage!`) %>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="tools.css" rel="stylesheet" >
<script src="tools.js"></script>
<link rel="stylesheet" href="/simple.css">
<link rel="stylesheet" href="/css/meown.css">
<link rel="stylesheet" href="/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background">
<!-- Navbar -->
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   
  <a href="#" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round"><i class="fa fa-home simple-margin-right"></i>Meown</a>
  
  <div onclick="location.replace('/u')" class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
<%- values.profile_menu %>
    <img src="<%- values.self.avatar %>" class="simple-circle" style="height:23px;width:23px" alt="Avatar">
   </div>
   
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <a>
  <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find User" style="width:100vw;"></input></form>
  <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find Community" style="width:100vw;"></input></form>
  <%- values.nav_mobile %></a>
  <a href="../" class="simple-bar-item simple-button simple-padding-large">Chat Room</a>
  <a href="/u" class="simple-bar-item simple-button simple-padding-large"><%- values.status %></a>
  </div>
   
 </div>
</div>

<!-- Page Container -->
<div class="simple-container " style="max-width:1400px;margin-top:50px">   
  
 <br>

 <div class=" simple-card simple-round simple-container simple-tint">
        <p class="crenzo center simple-text-large">Welcome to Meown!</p>
 </div>
  
 <br>
  
 <div style="display:grid;grid-gap: 20px;grid-template-columns: 1.5fr 0.5fr;">
        <div class="simple-card simple-round simple-container simple-tint" style="display:grid;grid-template-columns:auto auto auto auto;grid-auto-flow: row dense;">
        <span>
          Meown is supposed to be a very simple social media with a very simple database structure capable of doing many things making it easier to expand!
        </span>
        <span>
          <a class="simple-button simple-theme simple-round" href="u#register">Join now !</a>
          and be one of the <%- values.users.length %> peeps to try Meown.
        </span>
          
        <span>
          There is currently <%- Object.keys(values.communities).length %> Communties, So why wait when you can be a part of one!
        </span>
   

   </div>
        <span class="simple-card simple-round simple-container simple-tint">
          <img src="<%- values.self.avatar %>" class="simple-circle center" style="height:60px;width:60px" alt="Avatar">
          <%- values.self.preferred %>
   </span>
 </div>
  
  <br>
   
  <div class=" simple-card simple-round simple-container simple-tint">
    <%- values.changelog %>
 </div>
  <br>
<div class=" simple-card simple-round simple-container simple-tint">
  <p class="left">
  | Owner: <%- values.roles.owner %> |
  <br>
  | Developers: <%- values.roles.developer %> |
  <br>
  | Moderators: <%- values.roles.moderator %> |
  <br>
  | Helpers: <%- values.roles.helper %> |
  <br>
  | Verified Creators: <%- values.roles.verified %> |
  <br>
  | Beta Testers: <%- values.roles.beta %> |
  </p>
</div>
<!-- End Page Container -->
</div>
  
<br>

<footer class="simple-container simple-theme-d5">
  <p>Created by <a href="/u?search=orago" target="_blank">Orago</a></p>
</footer>
<script>
// Accordion
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
    x.previousElementSibling.className += " simple-theme-d1";
  } else { 
    x.className = x.className.replace("simple-show", "");
    x.previousElementSibling.className = 
    x.previousElementSibling.className.replace(" simple-theme-d1", "");
  }
}

// Used to toggle the menu on smaller screens when clicking on the menu button
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
</script>

</body>
</html> 
<div id="assets"></div>

<!--Loads the extra files that aren't written in the document.-->



