<!DOCTYPE html>
<html lang="en">
<head id="header">
<%- values.infoData(`Homepage!`) %>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="tools.css" rel="stylesheet" >
<script src="tools.js"></script>
<link rel="stylesheet" href="/simple.css">
<link rel="stylesheet" href="/css/meown.css">
<link rel="stylesheet" href="/simple-theme.css">
</head>
<style>html, body, h1, h2, h3, h4, h5 {font-family: "Open Sans", sans-serif}</style>
<body class="simple-theme-background">
<!-- Navbar -->
<div class="simple-navbar">
  
 <div class="simple-bar simple-theme-d2 simple-left-align simple-large simple-round-xlarge">
  <br>
  <a class="simple-bar-item simple-hide-medium simple-hide-large simple-right simple-padding-large simple-hover-white simple-theme-d2 simple-round simple-mobile-button" ><i class="fa fa-bars"></i></a>
   
   <a href="#" class="simple-bar-item simple-button simple-padding-large simple-theme-logo simple-round">
    <i class="fa fa-home simple-margin-right"></i>Meown
   </a>
   <div onclick="location.replace('/u')" class="simple-bar-item simple-button simple-hide-small simple-right simple-padding-large simple-hover-white simple-dropdown-hover" title="My Account" >
    <div id="Status" class="simple-round-large simple-theme-d2 simple-dropdown-content simple-bar-block" style="width:300px;right:0;top:78px;"></div>
    <img src="<%- values.self_avatar %>" class="simple-circle" style="height:23px;width:23px" alt="Avatar">
   </div>
   <!-- Navbar on small screens -->
  <div class="simple-bar-block simple-theme-d2 simple-hide-large simple-hide-medium simple-large simple-mobile-options">
  <a>
  <form method="get" action="/u" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find User" style="width:100vw;"></input></form>
  <form method="get" action="/c" style="display:inline-block;"><input type="text" name="search" class="simple-border simple-padding"  placeholder="Find Community" style="width:100vw;"></input></form>
  </a>
  <span id="mobileStatus"></span>
  </div>
   
 </div>
</div>

<!-- Page Container -->
<div class="simple-container " style="max-width:1400px;margin-top:50px">   
  
 <br>

 <div class=" simple-card simple-round simple-container simple-tint">
        <p class="crenzo center simple-text-large">Welcome to Meown!</p>
 </div>
  
 <br>
  
        <div class="simple-card simple-round simple-container simple-tint" style="display:grid;grid-gap:20px;grid-template-columns:auto auto auto auto;grid-auto-flow: row dense;">
        <span>
          Meown is supposed to be a very simple social media with a very simple database structure capable of doing many things making it easier to expand!
        </span>
        <span>
          <a class="simple-button simple-theme simple-round" href="u#register">Join now !</a>
          and be one of the <%- values.users.length %> peeps to try Meown.
        </span>
          
        <span>
          There is currently <%- Object.keys(values.communities).length %> Communties, So why wait when you can be a part of one!
        </span>
   

   </div>
  
  <br>
   
  <div class="simple-card simple-round simple-container simple-tint" id="changelogs">
    
 </div>
  <br>
<div class=" simple-card simple-round simple-container simple-tint">
  <p class="left">
  | Owner: <%- values.roles.owner %> |
  <br>
  | Developers: <%- values.roles.developer %> |
  <br>
  | Moderators: <%- values.roles.moderator %> |
  <br>
  | Helpers: <%- values.roles.helper %> |
  <br>
  | Verified Creators: <%- values.roles.verified %> |
  <br>
  | Beta Testers: <%- values.roles.beta %> |
  </p>
</div>
<!-- End Page Container -->
</div>
  
<br>

<footer class="simple-container simple-theme-d5">
  <p>Created by <a href="/u?search=orago" target="_blank">Orago</a></p>
</footer>
<script>
  function caps(text){return text.charAt(0).toUpperCase() + text.slice(1);}
  
// Used to toggle the menu on smaller screens when clicking on the menu button
    async function MeownApi(input){
    var options=options||""
  var response = await fetch(`/api/${input}`).then(l => l.json()).then(l => l.response)
  return response;
  }
  
  window.addEventListener("load", function () {
var mobileStatus = document.getElementById("mobileStatus"),
    status = document.getElementById("Status"),
    me = getCookie("saved-username")||false;
    if (me){
      status.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button ">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button ">Dashboard</a>
      <form method="get" action="/logout"><button type="submit" class="simple-bar-item simple-button">Logout</button></form>`;
      mobileStatus.innerHTML+=`
      <a href="/u" class="simple-bar-item simple-button simple-padding-large">My Page</a>
      <a href="/dashboard" class="simple-bar-item simple-button simple-padding-large">Dashboard</a>`;
    }
    else{
      status.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button">Login</a>
      <a href="/register" class="simple-bar-item simple-button">Register</a>`;
      mobileStatus.innerHTML+=`
      <a href="/login" class="simple-bar-item simple-button simple-padding-large">Login</a>
      <a href="/register" class="simple-bar-item simple-button simple-padding-large">Register</a>`;
    }
    status.innerHTML+=`
    <a onclick="alert("boink");window.opener=null;window.open('','_self');window.close();window.history.go(-1);" class="simple-bar-item simple-button">Close</a>
    `
    mobileStatus.innerHTML+=`<a onclick="window.close();" class="simple-bar-item simple-button simple-padding-large">Close</a>
    <a href="web+meown://eeHello%20Treehouse" class="simple-bar-item simple-button simple-padding-large">Tweet 'Hello Treehouse'</a>`;
    
  (async function(){
    var changelogs = await MeownApi("changelogs");//database.changelog;
    var result;
  function changelog (number){
    if (number==="last") number === Object.keys(changelogs).length-1;
    if (number&&!isNaN(number))
      {return {name:caps(Object.keys(changelogs)[number]),values:changelogs[Object.keys(changelogs)[number]]}}
    else return {name:caps(Object.keys(changelogs)[Object.keys(changelogs).length-1]),values:changelogs[Object.keys(changelogs)[Object.keys(changelogs).length-1]]}
    
  }
  result=`<b>Changelogs:</b><br>${changelog("last").name}<br>`;
  
  changelog("last").values.forEach(add_log);
  
  function add_log(item,index){
    if (index <= 0){
      result+= `- ${item}<br>`;
    }
    else{
      result+= `- ${item}`;
    }
  }
    document.getElementById("changelogs").innerHTML=result;
})();
});
  
function openNav() {
  var x = document.getElementById("navDemo");
  if (x.className.indexOf("simple-show") == -1) {
    x.className += " simple-show";
  } else { 
    x.className = x.className.replace(" simple-show", "");
  }
}
  
function getCookie(cname) {
  var name = cname + "=";
  var decodedCookie = decodeURIComponent(document.cookie);
  var ca = decodedCookie.split(';');
  for(var i = 0; i < ca.length; i++) {
    var c = ca[i];
    while (c.charAt(0) == ' ') {
      c = c.substring(1);
    }
    if (c.indexOf(name) == 0) return c.substring(name.length, c.length);
  }
  return "";
}
</script>

</body>
</html> 
<div id="assets"></div>

<!--Loads the extra files that aren't written in the document.-->